<!doctype html>
<!doctype html>
<html lang="en">
    <head>
        <title>Home</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/styles/home.css">
    </head>

    <body>
        <header>
            <!--Navbar-->
            <nav
                class="navbar navbar-expand-sm navbar-light bg-light"
            >
                <div class="container">
                    <a class="navbar-brand" href="#">Ticket Manager</a>
                    <button
                        class="navbar-toggler d-lg-none"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapsibleNavId"
                        aria-controls="collapsibleNavId"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <div id="navbar_info"></div>
                            </li>
                        </ul>
                        <div class="d-flex my-2 my-lg-0">
                            <nav
                                class="nav justify-content-center  "
                            >
                                <a class="nav-link active" id="logout" aria-current="page"
                                    >Cerrar sesion</a
                                >
                            </nav>
                            
                        </div>
                    </div>
                </div>
            </nav>
            
        </header>





        <main>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <div class="container">
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">¿Qué tickets deseas ver?</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownId">
                                    <a class="dropdown-item" id="get-tickets-all-open">Todos los tickets abiertos</a>
                                    <a class="dropdown-item" id="get-tickets-all-unassigned">Todos los pendientes</a>
                                    <a class="dropdown-item" id="get-tickets-mytickets">Mis tickets</a>
                                    <a class="dropdown-item" id="get-tickets-mydepartment">Mi departamento</a>
                                    <a class="dropdown-item" id="get-tickets-unassigned-bydepartment">Sin asignar de mi departamento</a>
                                    <a class="dropdown-item" id="get-tickets-all">Todos los tickets</a>
                                    <a class="dropdown-item" id="get-tickets-closed">Tickets cerrados</a>
                                    <div class="dropdown-divider"></div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" id="get-tickets-front" value = 1>Frontend</a>
                                    <a class="dropdown-item" id="get-tickets-back" value = 2>Backend</a>
                                    <a class="dropdown-item" id="get-tickets-app" value = 3>App developer</a>
                                    <a class="dropdown-item" id="get-tickets-sql" value = 4>SQL Developer</a>
                                    <a class="dropdown-item" id="get-tickets-neo4j" value = 5>Neo4j Developer</a>
                                    <a class="dropdown-item" id="get-tickets-testing" value = 8>Testing</a>
                                    <a class="dropdown-item" id="get-tickets-sysadmin" value = 9>Sysadmin and networking</a>
                                    <a class="dropdown-item" id="get-tickets-PM" value = 6>Project Manager</a>
                                    
                                </div>
                            </li>
                            <li class="nav-item ms-auto"><a
                                name=""
                                id=""
                                class="btn btn-secondary"
                                href="#"
                                role="button"
                                onclick="doLastCall()"
                                >Refresh</a
                            >
                             </li>
                        </ul>
                    </div>
                </div>
            </nav>


            <!--Tabla de tickets-->
            <div class="tickets-table">
                <table>        
                    <thead>      
                      <tr>       
                        <th>ID</th>           
                        <th>Título</th>       
                        <th>Descripción</th>  
                        <th>Owner</th>    
                        <th>Department</th>    
                        <th>Status</th>    
                        <th>Priority</th>      
                      </tr>
                    </thead>


                    <tbody id="tickets-body">      

                    </tbody>
                  </table> 
                  
            </div>
 
        </main>

        <footer>
            <div class="modal fade" id="modalIdTicket" tabindex="-1" aria-labelledby="ticketModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ticketTitle"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col-md-8">
                                    <p class="info-label"><b>Ticket Description:</b></p>
                                    <p class="info-content" id="ticketDescription"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="info-label"><b>Owner:</b></p>
                                    <p class="info-content" id="ticketOwner"></p>
                                    
                                    <p class="info-label"><b>Department:</b></p>
                                    <p class="info-content" id="ticketDepartment"></p>
                                    
                                    <p class="info-label"><b>Priority:</b></p>
                                    <p class="info-content" id="ticketPriority"></p>

                                    <p class="info-label"><b>Current Status:</b></p>
                                    <p class="info-content" id="ticketCurrentStatus"></p>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="dropdown mb-3">
                                        <button class="btn btn-status dropdown-toggle" type="button" id="statusDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                            Status: <span id="currentStatus"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="statusDropdown">
                                            <li><a class="dropdown-item" href="#" onclick="updateStatus(2)">New Assigned</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="updateStatus(3)">In Progress</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="updateStatus(4)">On Hold</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="updateStatus(5)">Testing</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="updateStatus(6)">Closed</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="updateStatus(7)">Canceled</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="updateStatus(8)">Testing Declined</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 text-end">
                                    <button type="button" class="btn btn-assign" onclick="assignMeTicket()">Assign me</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        
            <div
                class="modal fade"
                id="modalIdAlerta"
                tabindex="-1"
                data-bs-backdrop="static"
                data-bs-keyboard="false"
                        
                role="dialog"
                aria-labelledby="modalTitleId"
                aria-hidden="true"
            >
                <div
                    class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
                    role="document"
                >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modalTitleIdAlert" style = 'color:rgb(0, 0, 0)'>
                                Ups ... Algo salio mal

                            </h4>
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                                onclick= "cerrarAlerta()"

                            ></button>
                        </div>
                        <div class="modal-body alertaBody">
                            <h6 id="modalIdAlertaBody"></h6>
                        </div>
                    </div>
                </div>
            </div>
            
        </footer>

        <!--Personal JavaScript Libraries-->
        <script src="/controllers/alertas.js"></script>
        <script src="/controllers/session_storage.js"></script>
        <script src="/controllers/departemts.js"></script> 
        <script src="/controllers/home.js"></script>
        <script src="/controllers/update_ticket_generaL.js"></script>

        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>

