<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicketManager Update Password</title>
    <link rel="stylesheet" href="/styles/update.css">
</head>
<body>
    <div class="update-module">
        <center><h2>Change your password</h2></center>
        <form>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <label for="password">New Password:</label>
            <input type="password" id="newpassword1" name="password" required><br><br>
            <label for="password">Confirm your Password:</label>
            <input type="password" id="newpassword2" name="password" required><br><br>
            <input id="submit" type="submit" value="submit">
        </form>
    </div>
    
    <script type="text/javascript" src="/controllers/session_storage.js"></script>
    <script type="text/javascript" src="/controllers/update.js"></script>
</body>
</html>