CREATE FUNCTION ACCOUNT_EXIST (
	@email varchar(100)
) RETURNS INT AS
BEGIN 
	IF (SELECT COUNT(A.ID_Account) FROM ACCOUNTS A WHERE A.Email = @email) =0
	BEGIN 
		RETURN 0
	END
	RETURN (SELECT A.ID_Account FROM ACCOUNTS A WHERE A.Email = @email)
END
